ion-card-subtitle {
    text-transform: uppercase;
}

ion-img {
    max-height: 100px !important;
    max-width: 100px !important;
    float: inline-end;
}

ion-toolbar.large-title-fix {
    padding-top: env(safe-area-inset-top);
  }